<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Nombre:</td>
                <td>{{  form.nombre  }}</td>
            </tr>
            <tr>
                <td>Apellido:</td>
                <td>{{  form.apellido  }}</td>
            </tr>
            <tr>
                <td>Segundo Apellido:</td>
                <td>{{  form.apellido2  }}</td>
            </tr>
            <tr>
                <td>RUT:</td>
                <td>{{  form.rut  }}</td>
            </tr>
            <tr>
                <td>Hotel:</td>
                <td>{{  form.hotel  }}</td>
            </tr>
            <tr>
                <td>Fecha:</td>
                <td>{{  form.fecha  }}</td>
            </tr>
            <tr>
                <td>Cant. Dias:</td>
                <td>{{  form.estadia  }}</td>
            </tr>
            <tr>
                <td>Cant. Habitaciones:</td>
                <td>{{  form.cantidad  }}</td>
            </tr>
            <tr>
                <td><input type="submit" value="Agregar"></td>
            </tr>
        </table>
    </form>
    <h1>Lista de Reservas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Segundo Apellido</th>
                <th>RUT</th>
                <th>Hotel</th>
                <th>Fecha</th>
                <th>Cantidad de Dias</th>
                <th>Cantidad de Habitaciones</th>
            </tr>
        </thead>
        {% for reservaH in reservaHabitacion %}
            <tr>
                <td>{{  reservaH.id  }}</td>
                <td>{{  reservaH.nombre  }}</td>
                <td>{{  reservaH.apellido  }}</td>
                <td>{{  reservaH.apellido2  }}</td>
                <td>{{  reservaH.rut  }}</td>
                <td>{{  reservaH.fecha  }}</td>
                <td>{{  reservaH.estadia  }}</td>
                <td>{{  reservaH.hotel  }}</td>
                <td>{{  reservaH.cantidad  }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>